.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.join {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #BE5A9C 5%, #476e9e 100%);
	background-color:#BE5A9C;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#efefef;
	font-family:cursive;
	font-size:28px;
	padding:12px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  float:right;
  margin: 10px;
}
.join:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.join:active {
	position:relative;
	top:1px;
}

.join2 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #BE5A9C 5%, #476e9e 100%);
	background-color:#BE5A9C;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#efefef;
	font-family:cursive;
	font-size:21px;
	padding:12px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  float: right;
}
.join2:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.join2:active {
	position:relative;
	top:1px;
}
.create-form{
  position: absolute;
  right: 10px;
  margin-right: 120px;
  margin-top: 300px;
}
.form-group {
  width: 425px;
  height: 75px;
  margin-bottom: 25px;
  color: #efefef;
}

#cat-card {
  float:left;
  padding: 15 50px;
  width: 250px;
  height: 370px;
  margin: 10px 20px;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  border-radius: 15px;
}

.cat-show{
  position: relative;
  width: 177px;
  height: 500px;
  left: 750px;
  top: 50px;
}

.text-box{
  text-align: left;
  background: #6C6F7F;
  color: #efefef;
  font-family: cursive;
  font-size: 36px;

  position: relative;
  left: 1050px;
  width: 500px;
  height: 500px;
  bottom: 100px;
  radius: 5px 50px 0 0;

  border: 1px solid #000000;
  border-radius: 5px 50px 50px 0px;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  border-radius: 15px;
}

.placeholder1{
  background: gray;
  position:relative;
  left: 500px;
  bottom: 900px;
  height: 150px;
  width: 150px;
  border: 3px solid black;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  border-radius: 15px;
}
.placeholder2{
  background: gray;
  position: relative;
  left: 500px;
  bottom: 850px;
  height: 150px;
  width: 150px;
  border: 3px solid black;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  border-radius: 15px;
}
.placeholder3{
  background: gray;
  position: relative;
  bottom: 800px;
  left: 500px;
  height: 150px;
  width: 150px;
  border: 3px solid black;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  border-radius: 15px;
}

.dashboard{
  float:right;
  margin-right: 15px;
  margin-top: 10px;
	box-shadow: 3px 4px 7px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Verdana;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 1px #e1e2ed;
}
.dashboard:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.dashboard:active {
	position:relative;
	top:1px;
}

.header {
  background-color: #1F2733;
  padding-bottom: 2px;
}

.nav-text {
  font-family: cursive;
  color: #efefef;
  margin-left: 20px;
  padding-top: 10px;
  /* padding-left: 2px; */
}

.username {
  position: relative;
  right: 450px;
  color: #efefef;
  font-family: cursive;
}
.profile-pic {
  position: relative;
  right: 300px;
  bottom: 100px;
}

.show-card {
  position: relative;
  right:45px;
  height:700px;
  width:500px;
  border:2px;
  border-style:solid;
  border-color:#000000;
  border-radius: 0px 92px 0px 105px;
  color:#2E3752;
  margin-bottom: -20px;
  margin-top: -25px
}

.name-card {
  font-size:40px;
  color: #2E3752;
  font-family: cursive;
  border: 2px solid #2E3752;
  width: 100px;
  z-index: 1;
}

.logo {
          height:'75px';
          width:75px;
}
